.callendar_flex {
display: flex;
width: 280px;
flex-wrap: wrap;
margin-top: 100px;
border: 1px solid gray;


& button {
  height: 40px;
  width: 40px;
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  background: none;
}
& time {
  justify-content: center;
}

& button:hover {
  background-color: lightgray;
  border-radius: none;
  color: red;
  font-weight: 600;
  font-size: 1.1em;
}

}
